===============================================
NEUE SPIELGRUPPEN-ANMELDUNG
===============================================

Eingereicht:     {{ submitted_date }} um {{ submitted_time }} Uhr (UTC)
Kanal:           {{ channel }}
Anmelde-ID:      {{ registration_id }}  (Version {{ version }})

-----------------------------------------------
ANGABEN ZUM KIND
-----------------------------------------------
Name:            {{ child_name }}
Geburtsdatum:    {{ child_dob }} (Alter: {{ child_age }})
Bes. Bedürfnisse: {{ child_needs }}

-----------------------------------------------
SPIELGRUPPEN-AUSWAHL
-----------------------------------------------
Art:             {{ playgroup_types }}
Tage:            {{ days }}

Monatlicher Beitrag: {{ monthly_fee }}
(Zzgl. CHF 80 Anmeldegebühr bei Erstanmeldung)

-----------------------------------------------
ELTERN / ERZIEHUNGSBERECHTIGTE
-----------------------------------------------
Name:            {{ parent_name }}
Adresse:         {{ parent_street }}
                 {{ parent_postal_code }} {{ parent_city }}
Telefon:         {{ parent_phone }}
E-Mail:          {{ parent_email }}

-----------------------------------------------
NOTFALLKONTAKT
-----------------------------------------------
Name:            {{ emergency_name }}
Telefon:         {{ emergency_phone }}

===============================================

Diese Anmeldung wurde über den automatischen Anmeldeassistenten eingereicht.
